<h1> hello world this is rails on me </h1>
<p>To create a controller, one must first:<br><br>
1) hit CTRL+C in the terminal window to stop the app from running <br>
2) bin/rails generate controller Welcome index <br>

</p>
